.cabecalho{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fraseContainer{
    border: 2px solid #7e7d7d;
    border-radius: 10px;
    align-items:center;
    padding: 40px;
    text-align: end;

}

.buttoncad{
    width: 8%;
    height: 30px;
    margin-top: 2%;
    margin: 2%;
    justify-content:space-between;
    transition: all 0.5s;
    border: none;
    font-weight: 100;
    font-size: 90%;
    background-color: #02215e;
    color: antiquewhite;
  }
  
  .buttoncad:hover{
    transition: 0.1s, 0.1s ease-in-out;
    transform: scale(1.1);
  }
  .buttoncons:hover{
    transition: 0.1s, 0.1s ease-in-out;
    transform: scale(1.1);
  }