.Card-title{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    font-size: 90%;
}

.card-id{
    margin-left: 0%;
}

.card-name{
    margin-left: 0%;
}

.card-telefone{
    margin-left: 0%;
}

.card-email{
    margin-left: 0%;
}

.card-profissao{
    margin-left: 0%;
}

.card-idade{
    margin-left: 0%;
}