.App {
  display: flex;
  flex-direction:column;
}

.formulario{
  flex-direction: column;
  display: flex;
}

.formulario div{
  display: flex;
  margin-left: 20%;
  padding: 1%
}

.formulario label{
  padding: 0.3%;
  text-align: start;
}

.formulario input{
  width: 50%;
  font-size: 12px;
}

.name{
  margin: 5px;
  margin-left: 24px;
}

.telefone{
  margin: 5px ;
}

.email{
  margin: 5px;
  margin-left: 24px;
}

.profissao{
  margin: 5px;
}

.idade{
  margin: 5px;
  margin-left: 25px;
}

