.App {
  display: flex;
  flex-direction:column;
}

.formulario{
  flex-direction: column;
  display: flex;
}

.cabecalho{
  width:30%;
  font-size: 30px;
}
/*
.form_group{
  display: flex;
  margin-left: 1%;
  padding: 1%
}
*/
.form_group{
  position: relative;
  padding: 11px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form_field{
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #140746;
  outline: 0;
  font-size: 1.3rem;
  color: rgb(23, 10, 70);
  padding: 9px;
  background: transparent;
  transition: border-color 0.8s;
  
  &::placeholder {
    color: transparent;
  }
  
  &:placeholder-shown ~ .form_label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}


.form_label {
position: absolute;
top: 0;
display: block;
transition: 0.2s;
font-size: 1.3rem;
color: #25034b; opacity: 30%;
}

.form_field:focus {
~ .form_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #19073a;
  font-weight:500;    
  }
  padding-bottom: 6px;  
  font-weight: 500;
  border-width: 3px;
  border-image: linear-gradient(to right, #0c013b,#e3e1ec);
  border-image-slice: 1;

}
/* reset input */
.name{
  &:required,&:invalid { box-shadow:none; }
}

.imagedelete{
  width: 20px;
  
}

.buttoedit{
    border: 1px;
    background-color: transparent;
  }
.buttoedit:hover{
  transition: 0.1s, 0.1s ease-in-out;
}