body{
  background-color:rgb(250, 250, 250);
  padding-bottom: 50px;
  font-size: 15px;
  font-family:'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
  color:#141414;
}

.Navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  font-family:'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
}

a{
  text-decoration: none;
}